<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Joan_Costa-iOS_ENTI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>496074E8204DAAEA00354A4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>496074FC204DAAEB00354A4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49607507204DAAEB00354A4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
